<header class="header-top">
  <div class="header-top__left">
    <img src="imagenes/SEPH-Header-Top.svg" alt="Gobierno del Estado de Hidalgo" class="header-top__logo-gob" />
  </div>
</header>

<header class="header-main">
  <div class="header-main__left">
    <span>Secretaría de Educación Pública</span>
  </div>
  <div class="header-main__right">
<nav class="header-main__nav">
  <a href="#">Inicio</a>
  <a href="#">IHE</a>
  <a href="#">Inglés</a>

  @if (authService.isAuthenticated()) {
    <button
      type="button"
      class="header-main__logout"
      (click)="logout()">
      Cerrar sesión
    </button>
  }

  <button class="header-main__search" aria-label="Buscar">
    🔍
  </button>
</nav>
    <div class="header-main__brand">
      <img src="imagenes/DGES-Header-Top.svg" alt="DGES" class="header-main__brand-logo" />
    </div>
  </div>
</header>

<main>
  <router-outlet />
</main>

<footer>
  <div class="footer-left">
    <img src="imagenes/logoHidalgo.svg" alt="Hidalgo" width="300" height="300" />
  </div>
  <div class="footer-right">
    <span>Secretaría de Educación Pública del Estado de Hidalgo</span>
    <span>© 2026 Todos los derechos reservados</span>
  </div>
</footer>